<div class="container mt-5">
  <!-- Container with top margin of 5 units -->
  <h2>About us</h2>
  <!-- Heading level 2: "About us" -->
  <p>Welcome on our app "THE MEAL". This application lets you discover a range of delicious meals.</p>
  <!-- Paragraph introducing the purpose of the app -->
  <p>Names of creators :</p>
  <!-- Paragraph indicating the list of creators -->
  <ul>
    <!-- Unordered list -->
    <li>EL AMRANI Latifa</li>
    <!-- List item with the name of the first creator -->
    <li>ESTEBAN Jade</li>
    <!-- List item with the name of the second creator -->
    <li>SAID SOILIHI  Salma</li>
    <!-- List item with the name of the third creator -->
  </ul>
</div>
<!-- End of container -->

